<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lww_springboot.mapper.UserMapper">
    <update id="update">
        update user
        set username=#{username},
        password=#{password},
        headImg=#{headImg}
        where id=#{id}
    </update>

    <select id="login" resultType="com.example.lww_springboot.entiy.User">
        select * from user where username=#{username} and password=#{password}
    </select>
    <select id="queryById" resultType="com.example.lww_springboot.entiy.User">
        select * from user where id=#{id}
    </select>
</mapper>